.dona-home {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 22px;
}

.text-dona-home {
  margin-bottom: 20px;
}

.boton-para-donar {
  margin-top: 15px;
  background-color: #124476;
  color: white;
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.boton-para-donar:hover {
  color: #B9362C;
}

@media (max-width: 767px) {
  .dona-home {
    height: auto;
  }
}

@media (max-width: 479px) {
  .text-dona-home {
    font-size: 90%;
  }

  .boton-para-donar {
    font-size: 20px;
    height: 80px;
    width: 80px;
    background-size: 80px;
  }
}
