.tienda {
    background-color: rgb(241, 241, 241);
    padding-top: 90px;
}

.SearchOrder{
    position: absolute;
    left:15%;
    display: flex;justify-content: space-around;
    flex-direction: row;
    text-align: center;
    width: 80%;
    margin-bottom: 1px;
}