.Home{
    margin-top: 66px;
}

/* -----------------------------------NOTICIAS----------------------------------- */

.NoticiasContenedor {
    position: relative;
    align-items: center;
}

.BotonMasNoticias {
    position: absolute;
    top: 95%;
    left: 43%;
    background-color: white;
    color: #ef6d1f;
    border-radius: 5px;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 3px 15px;
    text-align: center;
    transition: 1s ease;
}

.BotonMasNoticias:hover {
    transition: 1s ease;
    transform: scale(1.05);
    background: #ef6d1f;
    color: white;
}