.Home{
    margin: 0;
    padding: 50px;
}

/* -----------------------------------NOTICIAS----------------------------------- */

.NoticiasContenedor {
    align-items: center;
    margin-bottom: 100px;
}

.BotonMasNoticias {
    display: flex;
    justify-content: center;
    background-color: rgba(234,93,11,255);
    border-radius: 5px;
    color: white;
    font-size: 15px;
    width: 13%;
    margin:auto;
    padding: 5px;
}