.NoticiasContenedor {
    margin-top: 7%;
    padding: 0;
    align-items: center;
}

.BotonMasNoticias {
    display: flex;
    justify-content: center;
    background-color: rgba(234,93,11,255);
    border-radius: 5px;
    color: white;
    font-size: 15px;
    width: 13%;
    margin:auto;
    padding: 5px;
    margin-bottom: 7%;
}