.form-voluntario {
  width: 1000px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
}

.form-voluntario h1 {
  margin-bottom: 40px;
  color: rgb(0, 0, 0);
  font-size: 24px;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
}

.form-voluntario div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.form-voluntario-label {
  font-size: 15px;
  color: black;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.form-voluntario-input,
.form-voluntario-select {
  padding: 20px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  width: 100%;
  font-family: monospace;
}

.form-voluntario-submit-button {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #b84b3f;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-voluntario-submit-button:hover {
  background-color: #a1a1a1;
}

.form-voluntario-error-message {
  color: #b84b3f;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}
