@import url('https://fonts.cdnfonts.com/css/wicked-grit');
@import url('https://fonts.cdnfonts.com/css/dk-lemon-yellow-sun');

.SePadrinoHome {
  display: flex;
  height: 100%;
  margin-bottom: 80px;
}

.ImagenContainer {
  flex: 1 !important; /* Ocupa la mitad izquierda del contenedor */
  overflow: hidden;
}

img[alt="sumate"] {
  transition: 1s ease;
  border: none;
}

img[alt="sumate"]:hover {
  transition: 1s ease;
  transform: scale(1.05);
}

.SumateContainerParteDerecha {
  flex: 1 !important; /* Ocupa la mitad derecha del contenedor */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: 'DK Lemon Yellow Sun', sans-serif !important;
  font-size: 25px;
}

.TextoContainerPadrino {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 20px;
}

p#SePadrino {
  text-align: center !important;
  font-family: 'DK Lemon Yellow Sun', sans-serif !important;
  color: white !important;
}

.BotonSePadrinoHome {
  margin-top: 15px;
  background-color: #B9362C;
  color: white;
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.BotonSePadrinoHome:hover {
  background-color: #B9362C;
}

@media (max-width: 768px) {
  .SePadrinoHome {
    flex-direction: column;
  }

  .ImagenContainer,
  .SumateContainerParteDerecha {
    flex: none !important; /* Restablecer el comportamiento de tamaño flexible */
    width: 100%;
    height: auto;
  }

  img[alt="sumate"] {
    position: relative;
    width: 80%;
    height: auto;
    margin: 0;
  }

  p[id="SePadrino"] {
    font-size: 150%;
  }

  .BotonSePadrino {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  img[alt="sumate"] {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
  }

  p[id="SePadrino"] {
    font-size: 16px;
  }

  .BotonSePadrino {
    font-size: 14px;
  }
}
