.PaginationContainer {
    position: relative;
    display: flex;
    flex-direction: column; /* Añade esta línea para que los elementos se apilen verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    width: 300px;
    margin: 0 auto; 
  }
  
  .PaginationList {
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: row;
    justify-content: center; 
    list-style: none;
  }
  
  .PaginationList li{
    font-family: 'Roboto Condensed', sans-serif;
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: 0.3s ease;
  }
  .PaginationList li:hover{
    transition: 0.3s ease;
    color: #B9362C
  }
  
  .active {
    background-color: #B9362C;
    color: white !important;
  }
  
  .disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
  
  /* ------------------------------------IconosPaginacion------------------------------------ */
  .IconPagination:hover{
    transition: 0.3s ease;
    color: #B9362C;
    font-size: 20px;
  }