
.containerPrincipalDona {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  overflow: hidden;
}

.containerSecundarioDona {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

.container1Dona {
  width: 100%;
}

.imgDonacion {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: right;
  align-self: flex-start;
  margin-bottom: 5px;
}

.parrafoDona1 {
  color: #104476;
  font-size: 20px;
  margin: 2% 10%;
  width: fit-content;
  background-color: whitesmoke;
  padding: 30px;
  text-align: center;
}
.parrafoDona1 h2{
  font-size: 27px;
  padding-bottom: 10px;
}
.parrafoDona1 p{
  font-size: 17px;
  color: black;
}

.contenForm {
  background-color: #104476;
  width: 40%;
  height: 400px;
  padding: 20px;
  margin: auto;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  font-size: 30px !important;
  margin-bottom: 50px;
}

.title2Dona {
  color: #fff;
  text-align: center;
  font-size: 22px;
  margin-bottom: 15px;
}

.labelsDona {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
}

.inputsDona {
  margin-right: 10px;
}

.labelOtro {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
}

.inputContainerDona {
  display: flex;
  align-items: center;
}

.currencyDona {
  color: #fff;
  font-size: 18px;
  margin-right: 5px;
}

.inputOtro {
  color: #B9362C;
  width: 150px;
  height: 28px;
  margin-left: 5px;
  padding-left: 5px;
  border-radius: 3px;
}
.inputOtro:focus{
  outline:none;
}

.errorMessage {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}

.btnDona {
  background-color: #4184c2 !important;
  color: white;
  padding: 8px 20px;
  margin:10px 0 10px 0;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnDona:hover {
  background-color: #4184c2 !important;
  color: #fff;
}