@import url('https://fonts.cdnfonts.com/css/qanelas-soft');

.contentPrincipal{
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  flex-direction: column;
}

.formReact {
  background-color: #104476;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 10px;
  width: 60%;
  margin: 5px;
  padding: 10px;
}

.formControl {  
  margin-bottom: 7px;
  padding-bottom: 20px;
  width: 40%;
  height: 150px;
}

.labeles {
  font-family: 'Qanelas Soft', sans-serif;
  color: #fff;
  font-size: 20px;
}

.inputsDona {
  border: 2px solid #fff;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  padding: 12px;
  margin-top: 5px;
  width: 100%;
}

.inputsDona:focus {
  outline: none;
}

.inputsDona::placeholder{
  color: #747fac;
}

.boton {
  background-color: #4184c2 !important;
  border-radius: 5px;
  color: #f6f6e9;
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 20px;
}

.boton:hover {
  background-color: #ff8000;
}

.fail {
  color: red;
}

.error {
  background-color: #f2d7d7;
  border: 2px solid red;
}
  
.success {
  border: 2px solid green;
}
  

  /*========>>>responsivos<<<========*/
@media screen and (max-width: 860px) {
  
  .formReact {
    width: 80%;    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  /* .formControl{
    background-color: #104476;
  } */
}

@media screen and (max-width: 680px) {
  .formReact {
    width: 80%;
  }

  .formControl {
    width: 80%;
  }
}

@media screen and (max-width: 460px) {
  .formReact {
    width: 90%;
  }

  .formControl {
    width: 100%;
  }
}