@import url('https://fonts.cdnfonts.com/css/wicked-grit');
@import url('https://fonts.cdnfonts.com/css/dk-lemon-yellow-sun');
/* font-family: 'Wicked Grit', sans-serif;
font-family: 'DK Lemon Yellow Sun', sans-serif; */

.contentPrincipal{
    background-color: rgb(242, 217, 152);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    width: 100%;
    flex-direction: column;
}

  .formReact {
    background-color: #104476;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 60%;
    margin: 5px;
    padding: 10px;
  }
  .formControl {  
    margin-bottom: 7px;
    padding-bottom: 20px;
    width: 40%;
    height: 150px;
  }
  .labeles {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    font-family: 'DK Lemon Yellow Sun', sans-serif; 
  }

  .inputsDona {
    border: 2px solid #fff;
    border-radius: 5px;
    /* background-color: #f0f0f0; */
    /* background-color: transparent; */
    display: block;
    font-family: 'DK Lemon Yellow Sun', sans-serif; 
    font-weight: bold;
    font-size: 16px;
    padding: 12px;
    margin-top: 10px;
    width: 100%;
      
  }
  .inputsDona:focus {
    outline: none;
  }
  .inputsDona::placeholder{
    color: #747fac;
  }
   .boton {
    background-color: #4184c2 !important;
    border-radius: 5px;
    color: #f6f6e9;
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 20px;
    font-family: 'DK Lemon Yellow Sun', sans-serif; 
  }
  .boton:hover {
    background-color: #ff8000;
  }
  .fail {
    color: red;
  }

  .error {
    background-color: #f2d7d7;
    border: 2px solid red;
  }
  
  .success {
   
    border: 2px solid green;
  }
  

  /*========>>>responsivos<<<========*/
@media screen and (max-width: 860px) {
  
  .formReact {
    width: 80%;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  /* .formControl{
    background-color: #104476;
  } */
}

@media screen and (max-width: 680px) {
  .formReact {
    width: 80%;
  }

  .formControl {
    width: 80%;
  }
}

@media screen and (max-width: 460px) {
  .formReact {
    width: 90%;
  }

  .formControl {
    width: 100%;
  }
}