.popularPost .box {
  margin: 15px 15px 15px 0;
}

.img {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.popularPost .text {
  padding: 20px;
}

.category {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 10px;
  letter-spacing: 2px;
}

.comment i,
.date i {
  width: 30px;
  color: #ea5d0b;
  font-size: 13px;
}

.container {
  max-width: 90%;
  margin: auto;
}

.flexSB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex {
  display: flex;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.row {
  width: 100%;
}

.images {
  position: relative;
}

.title {
  font-weight: 600;
  letter-spacing: normal;
  font-size: 17px;
  color: #444;
  font-family: 'Futura PT', sans-serif;
  margin-bottom: 15px;
}

.title:hover {
  color: #0d6efd;
}

.comment label,
.date label {
  font-size: 13px;
  color: #868585;
}

.desc {
  font-size: 13px;
  margin: 10px 0;
}

.content {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 9px 12px -10px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .row {
    width: 100%;
  }
}