.SearchBar form {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 345px;
  }

  .SearchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .DivInputSearch{
    display: flex;
    flex-direction: row;
  }

  .SearchBar input.SearchInput {
    margin-right: 7px;
    margin-left: 4px;
    font-size: 14px;
    background-color: transparent;
    flex: 1; /* Ocupa el espacio restante */
    outline: none;
    border: none;
    border-bottom: 2px solid silver;
  }
  
  .SearchBarButton {
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    padding: 10px 20px;
    text-align: center;
    flex: 1
  }
  .SearchBarButton:hover {
    background-color:rgba(223,184,55,255);
    color: white;
    transition: 0.5s ease;
    cursor: pointer;
  }

  .ResetButton {
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    padding: 10px 20px;
    text-align: center;
    flex: 1
  }
  .ResetButton:hover {
    background-color:rgba(195,64,56,255);
    color: white;
    transition: 0.5s ease;
    cursor: pointer;
  }