.buttonBackTop {
	background-color: #ea5d0b;
	width: 50px;
	border: none;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 50px;
	right: 30px;
	transition: background-color .3s;
	transition: background-color .3s, opacity .5s, visibility .5s;
	opacity: 1;
	z-index: 1000;
}

.buttonBackTop:after {
	content: url('../../assets/other_icons/backtop-bg.png');
	font-family: "Roboto Condensed", arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
}

.buttonBackTop:hover {
	cursor: pointer;
	background-color: #ff8000;
}

.buttonBackTop:active {
	background-color: #555;
}

.buttonBackTop.show {
	opacity: 1;
	visibility: visible;
}

/* Responsive Styles */

@media (max-width: 768px) {
	.buttonBackTop {
		bottom: 20px;
		right: 20px;
	}
}

@media (max-width: 480px) {
	.buttonBackTop {
		bottom: 10px;
		right: 10px;
	}
}