.OrderContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    background-color: transparent; 
}

.LabelOrder {
    font-size: 14px;
    padding-right: 10px;
    font-weight: bold;
    border-right: 3px solid silver;
}
  
.SelectorOrder {
    width: 50%;
    height: 100%;
    background-color: transparent;
    font-size: 13px;
    border: none !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='5' viewBox='0 0 8 5'%3E%3Cpath fill='%23333333' d='M4 5L0 0h8L4 5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
    cursor: pointer;
    text-align: center;
    outline: none;
}
  
.SelectorOrder option {
    background-color: rgb(241, 241, 241);
    font-size: 12px;
    color: black;
    outline: none;
}
.SelectorOrder option:hover {
    background-color: white;
    font-size: 12px;
    color: black;
    border: none;
    outline: none;
}
