.PaginationContainer{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.PaginationList{
  display: flex;
  width: 100%;
  height: 80%;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;   /* con esto sacamos los circulos negros que pertenecen a los elementos li */
}

.PaginationList li{
  min-width: 25px;
  height: 25px;
  cursor: pointer;
  color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: 0.3s ease;
}
.PaginationList li:hover{
  transition: 0.3s ease;
  color: #B9362C
}

.active {
  background-color: #B9362C;
  color: white !important;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

/* ------------------------------------IconosPaginacion------------------------------------ */
.IconPagination:hover{
  transition: 0.3s ease;
  color: #B9362C;
  font-size: 20px;
}