@import url('https://fonts.cdnfonts.com/css/wicked-grit');
@import url('https://fonts.cdnfonts.com/css/dk-lemon-yellow-sun');


/* -----------------------------------------------CANTIDADES----------------------------------------------- */
.ContenedorBotonesCart {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; /* Alineación vertical en la parte superior */
}

.ContenedorBotonesCart{
    width: 100%;
    display: flex;
    justify-content: center;
}

.ButtonsSumaResta{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 25%;
    background-color: #B9362C;
    color: white;
    transition: 0.5s ease;
}

.ButtonsSumaResta:hover{
    scale: 1.1;
    border-radius: 50px;
}

/* -----------------------------------------------BOTON ADD TO CART----------------------------------------------- */
.BotonAddToCart{
    font-family: 'DK Lemon Yellow Sun', sans-serif;
    width: fit-content;
    height: 35px;
    display: flex;
    padding: 10%;
    margin-top: 9%;
}


/* -----------------------------------------------COMENTARIOS----------------------------------------------- */
.TextoComentarios{
    font-family: 'DK Lemon Yellow Sun', sans-serif;
    margin-top: 1%;
    font-size: 16px;
}