@import url('https://fonts.cdnfonts.com/css/wicked-grit');
@import url('https://fonts.cdnfonts.com/css/dk-lemon-yellow-sun');

.padrino-container {
    max-width: 100%;
    margin: 55px auto;
    padding: 30px;
    color: #B9362C;
  }
  
  .padrino-title {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 10px;
    Color: #124476;
    font-family: 'Wicked Grit', sans-serif;
  }
  .padrino-section {
    margin-bottom: 30px;
    font-family: 'Wicked Grit', sans-serif;
  }
  
  .padrino-section-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Wicked Grit', sans-serif;
  }
  
  .padrino-section-description {
    font-size: 22px;
    color: black;
    font-family: 'DK Lemon Yellow Sun', sans-serif;
  }
  
  .padrino-form {
    margin-top: 30px;
  }
  