
.voluntario-container {
  max-width: 100%;
  margin: 5% auto;
  padding: 5%;
}
  
.voluntario-title {
  font-size: 44px;
  margin-bottom: 3%;
  Color: #B9362C;
}
  
.voluntario-sections {
  padding: 10px 20px;
}
  
.voluntario-section-title {
  font-size: 27px;
  margin-bottom: 0.5%;
  display: flex;
  justify-content: center;
}
  
.voluntario-section-description {
  font-size: 17px;
  color: black;
  padding: 2% 0;
  text-align: center;
}

.voluntario-section-description2{
  color: black;
  text-align: center;
  font-size: 17px;
  padding:10px 200px 60px 200px;
}
  
.voluntario-form {
  margin-top: 2%;
}
  

  /* Media query para pantallas de hasta 576px de ancho */
@media (max-width: 1600px) {
  .voluntario-container {
    max-width: 100%;
    margin: 7% auto;
    padding: 3%;
    color: #B9362C;
  } 
}
@media (max-width: 1350px) {
  .voluntario-container {
    max-width: 100%;
    margin: 9% auto;
    padding: 3%;
    color: #B9362C;
  } 
}
@media (max-width: 1100px) {
  .voluntario-container {
    max-width: 100%;
    margin: 11% auto;
    padding: 3%;
    color: #B9362C;
  } 
}
@media (max-width: 950px) {
  .voluntario-container {
    max-width: 100%;
    margin: 14% auto;
    padding: 3%;
    color: #B9362C;
  } 
}
@media (max-width: 780px) {
  .voluntario-container {
    max-width: 100%;
    margin: 17% auto;
    padding: 3%;
    color: #B9362C;
  } 
  .voluntario-section {
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
  }
  .voluntario-sections {
    padding: 10px 20px;
  }
  .voluntario-section-description2{
    padding:10px 50px 60px 50px;
  }
}
@media (max-width: 630px) {
  .voluntario-container { 
    max-width: 100%;
    margin: 22% auto;
    padding: 3%;
    color: #B9362C;
  } 
  .voluntario-section {
    margin-bottom: 3%;
  }
  .voluntario-sections {
    padding: 10px 40px;
  }
}