@import url('https://fonts.cdnfonts.com/css/wicked-grit');
@import url('https://fonts.cdnfonts.com/css/dk-lemon-yellow-sun');

.perfil-container {
  max-width: 1000px;
  margin-top: 100px;
  padding: 20px;
  position: relative;
}

.perfil-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo-perfil {
  width: 80px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.perfil-title {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Wicked Grit', sans-serif;
  margin-bottom: 3%;
  color: #EB5D0B;
}

.perfil-content {
  display: flex;
  flex-direction: column;
  font-family: 'DK Lemon Yellow Sun', sans-serif;
  font-size: 20px;
}

.perfil-image {
  position: relative;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.image-upload {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.image-upload input[type="file"] {
  display: none;
}

.perfil-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}

.perfil-label {
  font-weight: bold;
  color: #124476;
}

.perfil-input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
  color: black;
  font-size: 16px !important;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.edit-button,
.save-button,
.cancel-button {
  padding: 20px 40px; /* Ajusta el padding del botón */
  margin-left: 10px;
  border-radius: 10px !important;
  cursor: pointer;
  font-size: 30px !important; 
  width: 45%; 
  height: auto; 
  letter-spacing: 1.5px;
}

.edit-button {
  color: #EB5D0B !important;
  background-color: #fff;
}

.save-button {
  color: #38693a !important;
  background-color: #fff !important;
}

.cancel-button {
  color: #7d3e3e !important;
  background-color: #fff !important;
}