.ContenedorTienda{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.TiendaSideBar{
    position: fixed;
    top: 0;
    left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    width: 160px;
    background-color:rgba(234,93,11,255);
    overflow-x: hidden;
}

.TiendaItemsContainer{
    display: flex;
    margin-left: 10%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    height: fit-content;
    background-color: transparent;
}