@import url('https://fonts.cdnfonts.com/css/wicked-grit');
@import url('https://fonts.cdnfonts.com/css/dk-lemon-yellow-sun');

/* NavBar.css */
.navContainer {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 65px;
  width: 100%; 
  border-bottom: 2px solid silver;
  z-index: 1;
}

/* -------------------------------------LeftSection------------------------------------- */
.LeftSection {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 15px;
  margin-left: 15px;
}

.link {
  font-family: 'DK Lemon Yellow Sun', sans-serif;
  text-decoration: none;
  color: grey;
  padding: 22.5px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.5s ease;
  z-index: 9;
  font-size: 17px;
}

.link:hover {
  transition: 0.5s ease;
  text-decoration: none;
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* -------------------------------------Conocenos */
.link[id="conocenosNav"]{
  border-bottom:6px solid #D7B63E;
  border-bottom-left-radius: 5px;
}
.link[id="conocenosNav"]:hover{
  background-color: #D7B63E;
}
.active[id="conocenosNav"]{
  background-color: #D7B63E;
  color: white;
  text-decoration: none;
}

/* -------------------------------------nuestroEquipoNav */
.dropdownOption[id="nuestroEquipoNav"]{
  font-family: 'DK Lemon Yellow Sun', sans-serif;
  font-weight: 600;
  border-bottom:3px solid #124476;
}
.dropdownOption[id="nuestroEquipoNav"]:hover{
  font-family: 'DK Lemon Yellow Sun', sans-serif;
  background-color: #124476;
  text-decoration: none;
}
.active[id="nuestroEquipoNav"]{
  font-family: 'DK Lemon Yellow Sun', sans-serif;
  background-color: #124476;
  color: white;
  text-decoration: none;
}

/* -------------------------------------Noticias */
.link[id="noticiasNav"]{
  border-bottom:6px solid #EB5D0B;
}
.link[id="noticiasNav"]:hover{
  background-color: #EB5D0B;
}
.active[id="noticiasNav"]{
  background-color: #EB5D0B;
  color: white;
  text-decoration: none;
}

/* -------------------------------------Tienda */
.link[id="tiendaNav"]{
  border-bottom:6px solid #B9362C;
}
.link[id="tiendaNav"]:hover{
  background-color: #B9362C;
}
.active[id="tiendaNav"]{
  background-color: #B9362C;
  color: white;
  text-decoration: none;
}

/* -------------------------------------Ayudar */
.link[id="ayudarNav"]{
  border-bottom:6px solid #124476;
  border-bottom-right-radius: 5px;
  text-decoration: none;
}
.link[id="ayudarNav"]:hover{
  background-color: #124476;
  text-decoration: none;
}

/* -------------------------------------Perfil */
.link[id="perfilNav"]{
  border-bottom:6px solid rgba(53,99,70,255);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.link[id="perfilNav"]:hover{
  background-color: rgba(53,99,70,255);
  text-decoration: none;
}
.active[id="perfilNav"]{
  background-color: rgba(53,99,70,255);
  color: white;
}

/* -------------------------------------Dona */
.dropdownOption[id="donaNav"]{
  border-bottom:3px solid #D7B63E;
  font-weight: 600;
  font-family: 'DK Lemon Yellow Sun', sans-serif;
}
.dropdownOption[id="donaNav"]:hover{
  font-family: 'DK Lemon Yellow Sun', sans-serif;
  background-color: #D7B63E;
  text-decoration: none;
}
.active[id="donaNav"]{
  font-family: 'DK Lemon Yellow Sun', sans-serif;
  background-color: #D7B63E;
  color: white;
  text-decoration: none;
}

/* -------------------------------------SePadrino */
.dropdownOption[id="sepadrinoNav"]{
  font-family: 'DK Lemon Yellow Sun', sans-serif;
  font-weight: 600;
  border-bottom:3px solid #EB5D0B;
}
.dropdownOption[id="sepadrinoNav"]:hover{
  font-family: 'DK Lemon Yellow Sun', sans-serif;
  background-color: #EB5D0B;
  text-decoration: none;
}
.active[id="sepadrinoNav"]{
  font-family: 'DK Lemon Yellow Sun', sans-serif;
  background-color: #EB5D0B;
  color: white;
  text-decoration: none;
}

/* -------------------------------------SeVoluntario */
.dropdownOption[id="sevoluntarioNav"]{
  font-family: 'DK Lemon Yellow Sun', sans-serif;
  font-weight: 600;
  border-bottom:3px solid #B9362C;
}
.dropdownOption[id="sevoluntarioNav"]:hover{
  font-family: 'DK Lemon Yellow Sun', sans-serif;
  background-color: #B9362C;
  text-decoration: none;
}
.active[id="sevoluntarioNav"]{
  font-family: 'DK Lemon Yellow Sun', sans-serif;
  background-color: #B9362C;
  color: white;
  text-decoration: none;
}

.dropdownContainer {
  display: flex;
  align-items: center;
}

.dropdownContent {
  display: none;
  position: absolute;
  min-width: 108px;
  z-index: 1;
}

.link:hover + .dropdownContent,
.dropdownContent:hover {
  display: block;
  position: absolute;
  background-color: white;
  top: 110%;
}

.dropdownOption {
  color: grey;
  padding: 6px 6px;
  font-size: 15px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: 0.5s ease;
}

.dropdownOption:hover {
  transition: 0.5s ease;
  color: white;
  text-decoration: none;
}

/* -------------------------------------RightSection------------------------------------- */
.rightSection {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

button[id="cerrariniciarNav"]{
  border-bottom: 6px solid #124476;
  border-radius: 5px;
}
button[id="cerrariniciarNav"]:hover{
  background-color: #124476;
}
.loggingIn{
  background-color: #124476;
  color: white;
}
