.contentPrincipalTienda{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
  width: 100%;
  color: #124476;
  position: relative;
}

.formReactTienda {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 40%;
  margin: 0 auto;
}

.formControlTienda {  
  width: 90%;
  height: 100px;
}

.formControlTienda .labelesTienda {
  display: block;
  font-weight: bold;
  font-size: 15px;
}

.formControlTienda .inputsTienda {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-right: 40px;
}

.formControlTienda .inputsTienda:focus {
  outline: none;
}

.formReactTienda .botonTienda {
  color: white;
  display: block;
  width: 25%;
  margin: auto;
  font-size: 20px;
  font-family: 'DK Lemon Yellow Sun', sans-serif;
  background-color: #B9362C;
  transition: 0.5s ease;
  letter-spacing: 5px;
}
.formReactTienda .botonTienda:hover {
  transition: 0.5s ease;
  color: white;
  scale: 1.1;
  border-radius: 50px;
}

.failTienda {
  color: red;
}

/*========>>>responsivos<<<========*/
@media screen and (max-width: 800px) {
  .formReactTienda {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
  }
}

@media screen and (max-width: 600px) {
  .formReactTienda {
    width: 80%;
  }

  .formControlTienda {
    width: 80%;
  }
}

@media screen and (max-width: 460px) {
  .formReactTienda {
    width: 90%;
  }

  .formControlTienda {
    width: 100%;
  }
}