
.headerAboutLaGruta {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 20px;
  background-color: white;
}

.headerAboutLaGruta h1 {
  font-size: 65px;
  margin-bottom: 15px;
  color: #124476;
}

.headerAboutLaGruta h2 {
  font-size: 30px;
  color: #B9362C;
  padding-bottom: 20px;
}

.TextoAbout {
  background-color: rgb(242, 217, 152, 0.77);
}

.TextoAbout p {
  font-size: 20px;
  line-height: 1.5;
  padding: 50px 50px;
  text-align: justify;
  text-indent: 30px;
  color: black;
}