*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .infoCon {
    background: #D7B63E;
    background-size: cover;
    padding: 60px 0;
  }

  .infoCon span {
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  .innerContainer {
    width: 50%;
    height: 10%;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
  }
  
  .sectionTitle {
    text-align: center;
    margin-left: 40%;
    font-family: 'Roboto Condensed', sans-serif;
    color: #191b1d;
    font-size: 40px;
  }
  
  
  
  @media screen and (max-width:960px) {
    .infobox {
      max-width: 45%;
    }
    .buttoninfo {
        max-width: 45%;
      }
  }
  
  @media screen and (max-width:768px) {
    .infobox {
      max-width: 50%;
    }
    .buttoninfo {
        max-width: 50%;
      }
  }
  
  @media screen and (max-width:480px) {
    .infobox {
      max-width: 100%;
    }

    .buttoninfo {
        max-width: 100%;
      }
  }