
  /*------subscribe--------*/
  .subscribe {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
  }
  .subscribe h1 {
    text-align: left;
    font-size: 20px;
  }
  .subscribe input {
    width: 100%;
    padding: 10px;
  }
  .subscribe button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #d7b63e;
    color: #fff;
    font-weight: 600;
    border: none;
  }

  .title {
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 15px;
  }
  

  /*------subscribe--------*/
  .banner {
    margin: 40px 0;
  }
 

  /*----------gallery----------*/
  .gallery .img {
    width: 315px;
    height: 200px;
  }
  .gallery img {
    width: 315px;
    height: 200px;
    object-fit: cover;
  }

  /*----------gallery----------*/
  @media screen and (max-width: 768px) {
    .gallery img,
    .gallery .img {
      width: 100%;
      height: 400px;
    }
  }
  