.headingms {
  margin: 30px 0;
  height: 45px;
  background-position: center;
}

.h6ms {
  color: #444444;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  line-height: 1em;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
}

.h6ms::before {
  content: "";
  white-space: pre;
  font-size: 0.6em;
  padding: 0.2em 0.4em;
  margin-right: 1em;
  border-radius: 0.2em;
  background-color: #3756f7;
  color: white;
}

.headingMx {
  margin: 30px 0;
  height: 5px;
  background-position: center;
}

.h6Mx {
  color: #444;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1em;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
}

.h6Mx::before {
  content: "";
  white-space: pre;
  font-size: 0.6em;
  padding: 0.2em 0.4em;
  margin-right: 1em;
  border-radius: 0.2em;
  background-color: #3756f7;
  color: white;
}

/* Modificaciones para que sea responsive */
@media screen and (max-width: 768px) {
  .h6ms {
    font-size: 16px;
    padding-bottom: 10px;
  }

  .h6Mx {
    font-size: 22px;
    padding-bottom: 10px;
  }
}
