.login-container {
  width: 80%; /* Utilizamos porcentaje para hacerlo responsive */
  max-width: 350px; /* Establecemos un ancho máximo */
  margin: 120px auto; /* Auto para centrar horizontalmente y espacio en la parte superior */
  background: #D7B63E;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  font-family: 'Roboto Condensed', sans-serif;
}

.form {
  width: 100%;
  padding: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #fff;
}


.inputLogIn {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  height: 40px;
  margin: 10px auto;
  color: #fff;
  background: #EB5D0B;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

/* button:hover {
  background: #6d44b8;
} */

.buttonLogIn {
  background: #EB5D0B;

}

.buttonLogIn:hover {
  background: #D7B63E;
}

/* #D7B63E;
#EB5D0B;
#B9362C;
#124476;
  color: white; */


