.sidebarContenedor{
  position: relative;
  padding-top: 100px;
}

.ContenedorFiltroOrden{
  position: relative;
  width: 100%;
  height: 220px;
}

.Changuito {
  /* Estilos para el contenedor del ícono */
}
  
.Icon {
  /* Estilos para el ícono en sí */
  display: flex;
  margin-left: 35%;
  margin-bottom: 20%;
  font-size: 30px;
  color: silver;
}
.Icon:hover{
  color: white
}