.sidebarContenedor h1{
    padding-top: 20px;
    padding-left: 10px;;
}

h1{
    letter-spacing: 8px;
    text-transform: uppercase;
    color: silver;
}
h1:hover{
    color: white
}

  .Changuito {
    /* Estilos para el contenedor del ícono */
  }
  
  .Icon {
    /* Estilos para el ícono en sí */
    display: flex;
    margin-left: 10%;
    margin-top: 10%;
    font-size: 30px;
    color: silver;
  }
  .Icon:hover{
    color: white
  }